body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}
nav{
    background-color: grey;
    padding: 40px;
    text-align: right;
}
nav a{
    text-align: left;
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
nav a:hover{
    text-decoration: underline;
}
table   {
border-collapse: collapse;
width: 50%;
color: black;
align-items: center;
text-align: center;
}
th, td {
border: 1px solid black;
padding: 10px;
height: 50px; 
}
.contenedor{
    background-color: rgba(224, 203, 10, 0.8);
    width: 100%;
    height: 900px;
    margin: 0px;
    text-align: center;
    align-items: center;
}
.text1{
    color: grey;
    text-align: center;
    margin-top: 30px;
}
table, tr, th{
    border: 2px solid black;
}
.enlace{
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}
.footer{
    background-color: grey;
    padding: 10px;
}
.text-footer{
    color: white;
    text-align: center;
    height: 100px;
    align-items:center ;
}