body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif
}
nav{
    background-color: grey;
    padding: 40px;
    text-align: right;
}
nav a{
    text-align: left;
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
nav a:hover{
    text-decoration: underline;
}
.contenedor{
    background-color: rgba(224, 203, 10, 0.8);
    width: 100%;
    height: 900px;
    margin: 0px;
}
.text1{
    color: grey;
    text-align: center;
    margin-top: 30px;
}
.text2{
    color: grey;
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
}
.text3{
    text-align: center;
    color: grey;
    font-size: 20px;
    margin-bottom: 178px;
}
.footer{
    background-color: grey;
    padding: 10px;
}
.text-footer{
    color: white;
    text-align: center;
    height: 100px;
    align-items:center ;
}